
body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 14pt;
    width: 80%;
    margin-left: 3em;
    margin-right: 3em;
}

#login,#register {
    border: 1pt solid black;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    border-collapse: collapse;
    width: 50%
}

#register {
    margin-top: 2em;
}

h1   {
    font-family: "Alegreya", serif;
    font-style:  italic;
    font-weight: 400;
    font-size: 36pt;
    background-color: #90C3D4;
    padding: 0.25em;
    border-width: ;
    border: 1pt solid black;
}

h2   {
    font-size: 2em;
}

h3   {
    font-size: 1.5em;
}

.error {
    font-size: 0.7em;
    font-weight: bold;
    color: #DE0909;
    margin-bottom: 0.5em;
}

.result {
    margin-bottom: 0.5em;
}

.journal-title {
    font-style: italic;
}
